@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.secaoCards {
    // border: solid red 2px;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    div {
        // background-color: yellow;
        //border: solid violet;
        height: 45vh;
        width: 55%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            padding: 5px;
            font-size: 3.75rem;
            font-family: "Source Sans 3", sans-serif;
            color: #205691;
        }

        p {
            font-size: 1.5rem;
            font-family: "Inter", Sans serif;
        }


    }
}

.cards {
    //border: solid green;
    width: 100%;
    //height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;


    article {
        margin: 25px;
        //border: solid rgb(255, 0, 34);
        width: 25vw;
        height: 60vh; 
         display: flex;
         flex-direction: column;
         justify-content: space-between;
        align-items: center;
        text-align: center;


        img {
            width: 100%;
        }

        button{
            width: 60%;
            height:15%;
            background-color: #205691;
            color: #FFFFFF;
            border-radius: 10px;
            font-size: 1.5rem;
            cursor: pointer;
            border: none;
            
        } 
        button:hover{
            background-color: #1ac37f;
            color: #ffffff;
            box-shadow:0px  8px 16px 0px rgb(68, 255, 0);
        }
    }

    h2 {
        font-size: 1.875rem;
        font-family: "Source Sans 3", sans-serif;
        color: #122F97;
    }

    p{
        font-size: 1.075rem;
        font-family: "Inter", sans-serif;
        color: #000000;
    }
}