@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.containerTelaPerfil {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;

  article {
    display: flex;
    border: solid #efeeea;
    border-radius: 16px;
    justify-content: space-around;
    height: 50vh;
    align-items: center;

    img {
      border-radius: 100%;
      height: 40vh;
      width: 23%;
      border: solid #00aaff;
    }
  }
}
//Div
.cardInfo {
  // border: solid rgb(4, 45, 134);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  //  border: solid blue;
  width: 50%;
  height: 40vh;

  h2{
    font-size: 1.875rem;
    font-weight: 900;
  }

  h3{
    font-size: 1rem;
    font-weight: 500;
    color: #278733;
  }

  p{
    font-size: 0.875rem;
  }
  .paragrafoSobreMim {
    // border: solid red;
    text-align: center;
  }
}
address {
  // padding: 10px;
  display: flex;
  justify-content: space-evenly;
  // border: solid blue;
  width: 90%;
}
.listaInteresses {
  // border: solid rgb(11, 74, 162);
  // padding: 20px;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  li {
    background-color: #d4e7d6;
    padding: 0.5rem;
    color: #278733;
    border-radius: 10px;
  }
}