 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.containerTelaInicial {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

    div {
        // border: solid red;
        width: 45%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            font-family: "Source Sans 3", sans-serif;
            font-size: 5.40rem;
            width: 100%;
            // border: solid rgb(33, 178, 146);
            color: #205691;


        }

        p {
            // border: solid red;
            font-size: 1.5rem;
            font-family: "Alatsi", sans;
            color: #205691;
            width: 100%;
        }
    }

    .ImgInicial {
        // border: solid red;
        width: 50%;
        height: 100%;
    }

}


 // -------responsivo--------//


@media (min-width: 240px) and (max-width: 540px) {


    .containerTelaInicial {
        background-color: aqua;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
    
            div {
                // border: solid red;
                width: 45%;
                height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
    
                h1 {
                    font-family: "Source Sans 3", sans-serif;
                    font-size: 5.40rem;
                    width: 100%;
                    // border: solid rgb(33, 178, 146);
                    color: #205691;
    
    
                }
    
                p {
                    // border: solid red;
                    font-size: 1.5rem;
                    font-family: "Alatsi", sans;
                    color: #205691;
                    width: 100%;
                }
            }
    
            .ImgInicial {
                // border: solid red;
                width: 50%;
                height: 100%;
            }
    
    }
}