@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.navBar{
    background-color: #205691;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul{
        //border: solid red 2px;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
    }

    a{
        color: #FFFFFF;
        font-size: 1.75rem;
        font-weight: 400;
    }

    img{
        //border: solid red 2px;
        height: 80%;
        width: 100%;
    }

    .imgPerfil{
       
        height: 12vh;
        width: 6vw;
        border-radius: 50%;
        border: solid 4px  #00AAFF;
    }
}

//----------responsivo-----------

@media (min-width: 240px) and (max-width: 500px){

.navBar{
    height: 15vh;

    ul{
        // border: solid ;
        width: 70%;
        
    }
    
    a{
        font-size: 0.75rem;
        font-family: "Inter", sans-serif;
        font-weight: 600;
    }

    .logo{
        height: 5vh;
        width: 12vw;
    }

    .imgPerfil{
        height: 7vh;
        width: 12vw;
    }
}


}
