.navBar{
    background-color: #205691;
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-around;

    ul{
        border: solid red 2px;
        display: flex;
        width: 75%;
        justify-content: space-evenly;
    }

    a{
        color: #FFFFFF;
        font-size: 1.75rem;
        font-weight: 400;
    }

    img{
        border: solid red 2px;
        height: 80%;
        width: 100%;
    }

    .imgPerfil{
        height: 10vh;
        width: 5vw;
        border-radius: 50%;
        border: solid 5px  #00AAFF;
    }
}

//----------responsivo-----------

@media (min-width : 201px) and (max-width : 500px) {

.navBar{
    a{
        font-size: 0.85rem;
    }

    .logo{
        width: 10vw;
    }

    .imgPerfil{
        height: 7vh;
        width: 10vw;
    }
}


}
