@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.sectioFooter {
    // margin-top: 5%;
    background-color: #205691;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;

    p {
        // border: solid greenyellow;
        color: #FFFFFF;
        width: 35%;
        font-size: 1.025rem;
    }
}

.divFooter {
    // border: solid red;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h2 {
        font-size: 2rem;
        color: #FFFFFF;
    }
}

.redesSociais {
    // border: solid yellow;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


// --------------------responsividade-------------//


@media (min-width: 240px) and (max-width: 540px) {

    .sectioFooter {
        // border: solid;
        background-color: #205691;
        height: 30vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        font-family: "Inter", sans-serif;

        p {
            color: #FFFFFF;
            width: 100%;
            font-size: 0.75rem;
        }
    }

    .divFooter {
        // border: solid red;
        width: 70%;

        h2 {
            font-size: 1.5rem;
            color: #FFFFFF;
            font-weight: normal;
        }

        // img{
        //     height: 5vh;
        // }
    }

    .redesSociais {
        // border: solid yellow;
        width: 100%;

        img{
            height: 5vh;
            width: 10vw;
        }
    }
}